body {
  margin: auto;
  /* background-color: rgb(21, 102, 209); */
  width: 85%;
}

h1 {
  width: 50%;
  text-align: center;
  margin: 20px auto;
  font-size: 20px;
}

img {
  display: inline-block;
  width: 120px;
  min-height: 120px;
  max-height: 120px;
  margin: 10px 10px;
  border: 8px solid rgb(116, 113, 113);
  border-radius: 5px;
  border-style: outset;
  padding: 10px;
}

img:hover {
  border: 8px solid rgb(202, 197, 197);
}

#img-container {
  outline: 3px solid black;
  padding: 20px;
  margin: 20px auto;
  text-align: center;
  width: 75%;
}

#data {
  text-align: center;
  font-size: 12px;
  width: 30%;
  margin: 20px auto;
  outline: 3px solid red;
}

#chartContainer {
  display: none;
  width: 75%;
  margin: auto;
  outline: 3px solid purple;
  padding: 10px;
}